@*This view is the page that appears after the user clicks the link that was sent to them in an email.
    It will check if it is a valid password and make sure that it is confirmed. It will also check if 
    the user enetered a previous password. *@

@model CareerAnalytics_dev.Models.ResetPasswordModel
@{
    /**/

    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div id="box-forgotpassword">
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <h2 class="white" style="color:white">Reset Password</h2>
        <hr />
        <table cellpadding="4" cellspacing="20">

            <tr>
                @if (ViewBag.Message != "")
            {
                <td>
                    <div class="text-success">@ViewBag.Message</div>
                </td>
        }
            </tr>

            <tr>

                <td>
                    @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { placeholder = "New Password" } })
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                    @Html.ValidationMessage("PasswordExist", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>

                <td>
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { placeholder = "Confirm New Password" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        @Html.HiddenFor(model => model.ResetCode)
                        @Html.HiddenFor(model => model.ExistingPassword)
                    </div>
                </td>
            </tr>
            <tr>

                <td>
                    <input type="submit" value="Update" class="btn btn-default" />
                </td>
            </tr>
        </table>
    </div>


</div>
}
@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
}